  <!-- <nav class="navbar navbar-dark bg-dark">
    <a class="nav-link" routerLink="home">Home</a>
    <a class="nav-link" routerLink="products">Product</a>
    <a class="nav-link" routerLink="customers">Customer</a>
    <a class="nav-link" routerLink="profile">Profiles</a>
    <a class="nav-link" routerLink="post">Post</a>
    <a class="nav-link" routerLink="forms">Forms</a>
  </nav>
  <div class="container">
    <router-outlet>

    </router-outlet> -->
  <!-- </div> -->
  <div>
    <app-my-nav></app-my-nav>
    <router-outlet></router-outlet>
  </div>
  